.loading-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}

.loading-content {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
}

.loading-content p {
    color: #000;
    transform: translate(-50%, -50%);
    animation: opacity 1s ease-in infinite;
}

.loading-content .loading {
    font-size: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
